body {
  background: whitesmoke;
}

h1 {
  text-align: center;
  font-size: 60px;
}

h2 {
  text-align: center;
  font-size: 50px;
}

.btn {
  font-size: 50px;
  border-radius: 20px;
  background-color: lightblue;
  padding: 20px;
  text-decoration: none;
  color: black;
}